
.menu-button {
  display: inline-flex;
  margin-right: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  
    &:hover,
    &:focus {
        color: $color-hover;
    }

    &__icon {
        fill: currentColor;
    }

    .menu-container & {
        position: absolute;
        top: 16px;
        right: 16px;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }

  }
  @media screen and (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    z-index: 999;
    overflow-y: scroll;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-container.is-open {
    transform: translateX(0);
  }
  @media screen and (max-width: 459px) {
    .menu-container {
      padding: 40px 25px;
    }
  }
  @media screen and (min-width: 768px) {
    .menu-container {
      display: none;
    }
  }
  
  .mobile-menu {
    padding: 0;
    margin-bottom: auto;
    list-style: none;
  }
  .mobile-menu__item {
    margin-bottom: 32px;
  }
  @media screen and (max-width: 459px) {
    .mobile-menu__item {
      margin-bottom: 16px;
    }
  }
  .mobile-menu__link {
    display: block;
    color: #212121;
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  @media screen and (max-width: 459px) {
    .mobile-menu__link {
      font-size: 32px;
    }
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: $color-hover;
  }
  .mobile-menu__link--current {
    color: $color-hover;
  }

  //contacts-menu
  .contacts-menu {
    margin-bottom: 32px;
  }
  .contacts-menu__item {
    margin-bottom: 32px;
  }
  .contacts-menu__tel {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
  }
  .contacts-menu__tel:hover, .contacts-menu__tel:focus {
    color: #2196F3;
  }
  @media screen and (min-width: 459px) {
    .contacts-menu__tel {
      font-size: 34px;
    }
  }
  .contacts-menu__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
    text-decoration: none;
  }
  .contacts-menu__mail:hover, .contacts-menu__mail:focus {
    color: #2196F3;
  }

  //social-menu
  .social-menu {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    list-style: none;
    row-gap: 10px;
  }
  .social-menu__item {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    margin-right: 10px;
  }
  .social-menu__item:last-child {
    border: none;
  }
  .social-menu__item:first-child {
    padding-left: 0;
  }
  .social-menu__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: #2196F3;
  }