.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    max-width: 100%;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &__close-button {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 8px;
        right: 8px;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid rgba(0, 0, 0, 0.1);
        background: #fff;
        cursor: pointer;
    }
    &__title {
        margin-bottom: 12px;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;
        color: $color-main;
    }
    &__form-label {
        margin: 0;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.1666;
        letter-spacing: 0.01em;
        color: $color-p;
    }
    &__form-field {
        position: relative;
        margin-top: 4px;
        margin-bottom: 10px;
    }
    &__form-input {
        height: 40px;
        width: 100%;
        padding: 12px 16px 12px 42px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        outline: none;
    }
    &__form-input:focus {
        border-color: $color-hover;
    }
    &__form-input:focus + .modal__form-icon{
        fill: $color-hover
    }
    &__form-icon {
        position: absolute;
        top: 50%;
        left: 12px;
        transform: translateY(-50%);
        fill: $color-main;
    }
    &__textarea-field {
        margin-bottom: 20px;
    }
    &__textarea-input {
        resize: none;
        height: 120px;
        padding: 12px 16px;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.1666;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
    }
    &__textarea-input:focus {
        color: $color-main;
    }
    &__form-checkbox {
        margin-bottom: 30px;
    }
    &__checkbox-label {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 7px;
        font-family: $font-roboto;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7143;
        letter-spacing: 0.03em;
        color: $color-p;
    }
    &__checkbox {
        appearance: none;
        margin-right: 11px;
        height: 13.6px;
        width: 14.6px;
        border: 1.4px solid #000000;
        border-radius: 2px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__checkbox:checked {
        opacity: 1;
    }
    &__checkbox-icon {
        position: absolute;
        top: 50%;
        transform: translate(50%, -50%);
        left: 11px;
        opacity: 0;
    }
    .modal__checkbox:checked + &__checkbox-icon{
        opacity: 1;
    }
    &__agreement {
        color: $color-hover;
        text-decoration: underline;
    }
    &__button-submit {
        display: block;
        margin: 0 auto;
        padding: 10px 52px;
        font-family: $font-roboto;
        color: $color-hero;
        font-weight: 700;
        font-size: 16px;
        cursor: pointer;
        letter-spacing: 0.06em;
        line-height: 1.87;
        background-color: $color-hover;
        border-width: 0px ;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
    &__button-submit:hover {
        background: $color-active;
    }
}