.team {
    background-color: $color-background-light;

    &__cards {
        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: center;
        }
        @media screen and (min-width: 1200px) {
            flex-wrap: nowrap;
        } 
    }
    &__item {
        padding-bottom: 30px;
        background-color: $color-hero;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
        text-align: center;
        padding-bottom: 24px;
        margin-bottom: 30px;
        
        @media screen and (max-width: 767px) {
            &:last-child {
                margin-bottom: 0;
            }
        }

        @media screen and (min-width: 768px) {
            width: 354px;
        }
    }

    &__image {
        display: block;
        width: 100%;
        height: 100%;

        @media screen and (min-width: 768px) {
            height: 374px;
        } 
    }
    &__name {
        margin: 30px 0 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }
    &__post {
        display: block;
        color: $color-p;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }
}

/* .team {
    background-color: $color-background-light;

    &__cards {
        display: flex;
        justify-content: space-between;
    }
    &__item {
        padding-bottom: 30px;
        background-color: $color-hero;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
    &__image {
        display: block;
        width: 270px;
    }
    &__name {
        margin: 30px 0 10px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }
    &__post {
        display: block;
        color: $color-p;
        font-size: 16px;
        line-height: 1.19;
        text-align: center;
    }
} */